#US3: Summarize Income and Expenses

In [1]:
import pandas as pd

def summarize_transactions(df):
    """
    Returns total income and total expenses from a cleaned DataFrame.
    """
    total_income = df[df["amount"] > 0]["amount"].sum()
    total_expenses = df[df["amount"] < 0]["amount"].sum()

    return {
        "total_income": float(total_income),
        "total_expenses": float(total_expenses)
    }

In [2]:
data = {
    "date": ["2024-01-01", "2024-01-02", "2024-01-03"],
    "amount": [200, -50, 100]
}

df_test = pd.DataFrame(data)

summarize_transactions(df_test)

{'total_income': 300.0, 'total_expenses': -50.0}